{% extends "search/base.html" %}
{% block content %}
<div class="row mt-5 mb-5 ms-2 me-2" style="background-color: #161b22; border-radius: 5px;" >
    {% include "search/search_bar.html" %}
</div>
<div class="row">
    <div class="col-7  ms-2 me-2">
        <div class="row" style="background-color: aqua">
            {% include "search/search_result.html" %}
        </div>
    </div>
    <div class="col-4  ms-2 me-2">
        <div class="row mt-2 mb-2" style="background-color: blueviolet">
            {% include "search/classification.html" %}
        </div>
        <div class="row mt-2 mb-2" style="background-color: azure">
            {% include "search/cluster.html" %}
        </div>
        <div class="row mt-2 mb-2" style="background-color: gold">
            {% include "search/pagerank.html" %}
        </div>
    </div>
</div>
{% endblock %}
