<form method="get">
    <div class="input-group">
        <div class="col-7 m-2">
            <div class="row">
                <textarea name="query" style="border-radius: 10px;" placeholder="بیت مورد نظر خود را وارد کنید."></textarea>
            </div>
        </div>
        <div class="col-3 m-2 align-center">
            <div class="row align-center pe-5">
                <button type="submit" class="btn-success btn mt-2" style="border-radius: 5px;">جست و جو</button>
            </div>
        </div>
    </div>
</form>
